<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title></title>
    <% if (environment === 'development') { %>
    <script>
      fbAppId = '117119395112649';
    </script>
    <% } %>
    <script data-main="scripts/main" src="scripts/lib/require.js" async></script>
    <link rel="stylesheet" href="stylesheets/main" />
  </head>
  <body>
    <div id="frame">
      <div id="title_1" class="title">
        <div class="content">Everything</div>
        <div class="pieces">
        </div>
      </div>

      <div id="title_2" class="title"><div class="pieces">
        </div>
        <div class="content">Is</div>
      </div>

      <div id="title_3" class="title">
        <div class="pieces">
        </div>
        <div class="content">Connected</div>
      </div>
      <div id="subtitle">
        Watch the movie that connects <em>you</em>to anything or anyone in the world.        
      </div>

      <div id="play" class="title">
        <div class="pieces">
        </div>
        <div class="content">Go!</div>
      </div>

      <div id="logos">
        <img src="images/iMinds.jpg" height="40" />
        <img src="images/UGent.jpg" height="40" />
        <img src="images/mml.jpg" height="40" />
      </div>

      <div id="steps">
        <div class="pieces">
        </div>
        <div class="content">
          <div id="step_1" class="step">
            <div class="number">1</div>
            <div class="text">Choose your starting point<br><input id="begintopic" /><div id="fb-root">
              </div>
              <p id="facebook">
                <a id="facebook-connect" href="#">or connect with <img src="images/f_logo.png" width="20" height="20"></a>
              </p>
            </div>
            <div class="nav">
              <span class="button button_hover next">Next</span>
            </div>
          </div>
          <div id="step_3" class="step">
            <div class="number">2</div>
            <div class="text">Choose your destination<br><input id="endtopic" /></div>
            <div class="nav">
              <span class="button button_hover back">Back</span>
              <span class="button button_hover next">Next</span>
            </div>
          </div>
          <div id="step_4" class="step">
            <div class="number">3</div>
            <div class="text"><span class='play_button'>Play!</span></div>
            <div class="nav">
              <span class="button button_hover back">Back</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="screen">

    </div>
  </body>
  <footer>
    <p>
      &copy; 2012 Multimedia Lab &ndash; iMinds / Ghent University
    </p>
  </footer>
</html>

