<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Everything Is Connected</title>
    <% if (environment === 'development') { %>
    <script>
      fbAppId = '117119395112649';
    </script>
    <% } %>
    <script data-main="scripts/main" src="scripts/lib/require.js" async></script>
    <link rel="stylesheet" href="stylesheets/main" />
  </head>
  <body>
    <div id="frame">
      <div id="title_1" class="title">
        <div class="content">Everything</div>
        <div class="pieces">
        </div>
      </div>

      <div id="title_2" class="title"><div class="pieces">
        </div>
        <div class="content">Is</div>
      </div>

      <div id="title_3" class="title">
        <div class="pieces">
        </div>
        <div class="content">Connected</div>
      </div>
      <div id="subtitle">
        Watch the movie that connects <em>you</em> to anything or anyone in the world.        
      </div>

      

      <div id="steps">
        <div class="pieces">
        </div>
        <div class="content">
          <div id="step_1" class="step">
            <div class="number">1</div>
            <div class="text">Choose your starting point<br><input id="starttopic" /><div id="fb-root">
              </div>
              <p id="facebook">
                <a id="facebook-connect" href="#">or connect with <img src="images/f_logo.png" width="20" height="20"></a>
              </p>
            </div>
            <div class="nav">
              <span class="button next disabled">Next</span>
            </div>
          </div>
          <div id="step_3" class="step">
            <div class="number">2</div>
            <div class="text">Choose your destination<br><input id="endtopic" /></div>
            <div class="nav">
              <span class="button back disabled">Back</span>
              <span class="button next disabled">Next</span>
            </div>
          </div>
          <div id="step_4" class="step">
            <div class="number">3</div>
            <div class="text"><span class='play_button'>Play!</span></div>
            <div class="nav">
              <span class="button back disabled">Back</span>
            </div>
          </div>
        </div>
      </div>
<div id="play" class="title">
        <div class="pieces">
        </div>
        <div class="content">Go!</div>
      </div>
      
    </div>
    <div id="screen">

    </div>
  </body>
  <footer>
<div class="info">
        <span class="info_button">Why?</span>
        <span class="info_button">How?</span>
        <span class="info_button">About</span>
      </div>
<div id="logos">
        <a href="http://iminds.be/"><img src="images/iMinds.jpg" height="30" /></a>
        <a href="http://ugent.be/"><img src="images/UGent.jpg" height="30" /></a>
        <a href="http://mmlab.be/"><img src="images/mml.jpg" height="30" /></a>
      </div>
    <p>
      &copy; 2012 <a href="http://mmlab.be/">Multimedia Lab</a> &ndash; <a href="http://iminds.be">iMinds</a> / <a href="http://ugent.be">Ghent University</a>
    </p>
  </footer>
</html>

