/* Stylesheet for the demo pages */

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  width: 100%;
  margin-top: 2em;
}

#main {
  margin: 0 auto;
  max-width: 800px;
}

.slides {
  width: 800px;
  height: 600px;
  border: 1px solid;
  overflow: hidden;
  margin-top: 2em;
}

.slide {
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: absolute;
  background-color: white;
}

.slide.transition-out {
  opacity : 0;
  -webkit-transition-property : opacity;
  -webkit-transition-duration : 0.7s;
}

.slide.image, .slide.video {
  text-align: center;
}

.slide.title h1 {
  padding: 1em;
}

.slide.video {
  background-color: black;
}

.slide.video video {
  width: 100%;
  height: 100%;
}
