* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  width: 100%;
  margin-top: 2em;
}

#main {
  margin: 0 auto;
  max-width: 800px;
}

.slides {
  width: 800px;
  height: 600px;
  border: 1px solid;
  overflow: hidden;
}

.slide {
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: absolute;
}

.slide.transition-out {
  opacity : 0;
  -webkit-transition-property : opacity;
  -webkit-transition-duration : 0.7s;
}

.slide.image {
  text-align: center;
}
