@import "reset.less";

@accent: #0338A8;
@background: #aab7e3;

@heading-font: "Lilita One", Verdana, sans-serif;

html {
  background-color: @background;
}

body {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255,255,255,.8);
  padding: 20px 40px;
  border-radius: 20px;
}

h1, h2 {
  font-family: @heading-font;
  font-weight: normal;
  color: @accent;
}

h1 {
 font-size: 2em;
 margin: 1em 0 .5em 0;
}

h2 {
 font-size: 1.5em;
 margin: .5em 0;
}

header {
  margin: 2em 0;
  text-align: center;
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
}

footer {
  font-size: small;
  margin: 1em 0;
}

div.step {
  &.one {
    counter-reset: step-counter;
  }
  &:before {
    content: counter(step-counter) ".";
    counter-increment: step-counter;
    float: left;
    font-family: @heading-font;
    font-size: 1.5em;
    color: @accent;
    padding-right: 8pt;
  }
}
