@import "reset.less";
@import "index.less";

@accent: #1543a3;
@foreground: #404040;
@background: #aab7e3;

html, body {
  width: 100%;
  height: 100%;
}

body, th, td, input, select, textarea {
  font-size: 13pt;
  line-height: 1.3;
}

h1, h2 {
  font-weight: normal;
  font-family: BebasN, sans-serif;
}

h1 {
 font-size: 2em;
 margin: .5em 0 0;
}

h2 {
 font-size: 1.5em;
 margin: .5em 0 0;
}

a {
 color: @accent;
}

input {
 margin-top: .5em;
}

#begintopic, #endtopic {
 width: 80%;
}

@import "slides.less";

@import "lib/jquery.ui.core.less";
@import "lib/jquery.ui.autocomplete.less";
@import "lib/jquery.ui.theme.less";
