/***** Mixins *****/

.transition (@transform, @origin) {
  -moz-transform-origin: @origin;
  -moz-transition: -moz-transform @transform;
  -webkit-transform-origin: @origin;
  -webkit-transition: -webkit-transform @transform;
  -o-transform-origin: @origin;
  -o-transition: -o-transform @transform;
  -ms-transform-origin: @origin;
  -ms-transition: -ms-transform @transform;
  transform-origin: @origin;
  transition: transform @transform;
}

.transform (@transform) {
  -moz-transform: @transform;
  -webkit-transform: @transform;
  -o-transform: @transform;
  -ms-transform: @transform;
  transform: @transform;
}


/***** Rules *****/

.slides {
  width: 800px;
  height: 600px;
  border: 1px solid black;
  background-color: white;
  margin: 5em auto;
}

.slide {
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: absolute;
  background-color: white;
  
  .inner {
    width: 100%;
    height: 100%;
  }
  
  /***** Transitions *****/
  &.transition-out {
    opacity : 0;
    -webkit-transition-property : opacity;
    -webkit-transition-duration : 0.7s;
  }
  
  /***** Slide types *****/
  &.title {
    .inner {
      display: table;
    }
    h1 {
      display: table-cell;
      vertical-align: middle;
      
      padding: 1em 1em 2em 1em;
      font-size: 4em;
    }
  }

  &.image {
    text-align: center;
    background-color: black;
  }
  
  &.video {
    background-color: black;
    
    video {
      width: 100%;
      height: 100%;
    }
  }
  
  &.date {
    text-align: center;
    font: 40px Georgia, serif;
    
    .calendar {
      margin: 100px 0 0 250px;
      width:300px;
      height:400px;
      background-color: white;
      border: 2px solid #e34420;
    }
    .month {
      margin-top: 15px;
      text-transform: uppercase;
    }
    .year {
      font-size: 30px;
    }
    .day {
      margin: -20px 0 20px;
      font-size: 200px;
    }
    .weekday {
      font-size: 50px;
    }
  }
  
  /***** Transitions *****/
  &.image img, &.date .calendar {
    .transition(30s linear, 50% 50%);
  }
  
  .zoom {
    .transform(scale(2) rotate(10deg));
  }
}
