.slides {
  width: 800px;
  height: 600px;
  border: 1px solid black;
  background-color: white;
  margin: 5em auto;
}

.slide {
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: absolute;
  background-color: white;
  
  /***** Transitions *****/
  &.transition-out {
    opacity : 0;
    -webkit-transition-property : opacity;
    -webkit-transition-duration : 0.7s;
  }
  
  /***** Slide types *****/
  &.title {
    h1 {
      padding: 1em; 
    }
  }

  &.image {
    text-align: center;
  }
  
  &.video {
    background-color: black;
    
    video {
      width: 100%;
      height: 100%;
    }
  }
}

.slide > img {
-moz-transform-origin: 50% 50%; 
-moz-transition: -moz-transform 30s linear; 
-webkit-transform-origin: 50% 50%; 
-webkit-transition: -webkit-transform 30s linear; 
-o-transform-origin: 50% 50%; 
-o-transition: -moz-transform 30s linear; 
-ms-transform-origin: 50% 50%; 
-ms-transition: -ms-transform 30s linear; 
}
.slide > #date {
-moz-transform-origin: 50% 50%; 
-moz-transition: -moz-transform 30s linear; 
-webkit-transform-origin: 50% 50%; 
-webkit-transition: -webkit-transform 30s linear; 
-o-transform-origin: 50% 50%; 
-o-transition: -moz-transform 30s linear; 
-ms-transform-origin: 50% 50%; 
-ms-transition: -ms-transform 30s linear; 
}
.zoom {
-moz-transform: scale(2) rotate(10deg);
-webkit-transform: scale(2) rotate(10deg);
-o-transform: scale(2) rotate(10deg);
-ms-transform: scale(2) rotate(10deg);
}
